article-editor div.Input {
    overflow-x: scroll;
    color: var(--ae-fg);
    border-radius: var(--ae-radii);
    padding: .6rem;

    &:not(.flat) {
        box-shadow: inset 0 0 0 1pt var(--ae-activated-bg);
    }

    &::before {
        content: var(--input-placeholder);
        color: var(--ae-quiet-fg) !important;
        font-weight: normal;
    }

    &:not(:empty)::before {
        display: none;
    }
}
