.Tags {
    width: 20em;
    display: flex;
    flex-direction: column;
    gap: .3rem;

    & .swapy {
        width: 20em;
        display: flex;
        flex-wrap: wrap;
        gap: .3rem;

        & .elem {
            display: flex;
            align-items: center;
            border-radius: var(--ae-radii);
            background-color: var(--ae-darkened-bg);

            & span {
                margin: 0 .3rem;

            }

            &:hover {
                background-color: var(--ae-selected-bg);
            }
        }
    }

    & button.add {
        display: flex;
        gap: .1em;
    }

    & div.popup {
        width: 16em;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(.3em);

        background-color: var(--ae-bg);
        padding: .6rem;
        border-radius: var(--ae-radii);
        box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .12);

        & .list {
            display: flex;
            flex-direction: column;

            & button {
                text-align: left;
            }
        }
    }
}
