html[data-theme="light"],
:root {
    --ae-radii: 6px;
    --ae-fg: #111111;
    --ae-bg: #ffffff;

    --ae-darkened-bg: color-mix(in srgb, var(--ae-fg), transparent 92%);
    --ae-selected-bg: color-mix(in srgb, var(--ae-fg), transparent 84%);
    --ae-activated-bg: color-mix(in srgb, var(--ae-fg), transparent 80%);
    --ae-shadow: 2px 3px 11px 0 rgba(0, 0, 0, 0.18);

    --ae-quiet-fg: color-mix(in srgb, var(--ae-fg), transparent 38%);

    --ae-primary: #4b9ed6;
}

@media (prefers-color-scheme: dark) {
    :root {
        --ae-fg: #eeeeee;
        --ae-bg: #181818;
    }
}


html[data-theme="dark"] {
    --ae-fg: #eeeeee;
    --ae-bg: #181818;
}

article-editor div.codex-editor {
    ::selection {
        background-color: var(--ae-activated-bg);
    }

    .ce-block--selected .ce-block__content {
        background-color: color-mix(in srgb, var(--ae-primary), transparent 68%);
    }

    .ce-toolbar__plus,
    .ce-toolbar__settings-btn {
        color: var(--ae-fg);

        &:hover {
            background-color: var(--ae-selected-bg);
        }
    }

    .ce-popover .ce-popover__container {
        background-color: var(--ae-bg);
        border-color: color-mix(in srgb, var(--ae-fg), transparent 98%);
        box-shadow: var(--ae-shadow);

        .ce-popover-item-separator__line {
            background-color: var(--ae-selected-bg);
        }

        .ce-popover-item,
        .ce-popover-item-html .ce-inline-tool {
            color: var(--ae-fg);
            background-color: transparent;

            &:hover {
                background-color: var(--ae-darkened-bg);
            }

            &.ce-inline-tool--focused {
                background-color: color-mix(in srgb, var(--ae-primary), transparent 88%);
            }

            &.ce-inline-tool--active {
                background-color: color-mix(in srgb, var(--ae-primary), transparent 78%);
                color: var(--ae-primary);
            }

            &[data-item-name="delete"].ce-popover-item--confirmation {
                &:hover {
                    /* comes from editorjs */
                    background-color: var(--color-background-item-confirm-hover);
                }
            }

        }

        .ce-popover-item--active {
            color: var(--ae-primary);
            background-color: color-mix(in srgb, var(--ae-primary), transparent 78%);
        }

        .ce-popover-item-html .ce-inline-tool-input {
            padding: 0;
            border: none;
            background-color: transparent;
            color: var(--ae-fg);

            &::placeholder {
                color: var(--ae-quiet-fg);
            }
        }

        .cdx-search-field.ce-popover__search {
            background-color: var(--ae-darkened-bg);
            border-color: color-mix(in srgb, var(--ae-fg), transparent 98%);

            .cdx-search-field__icon svg {
                color: var(--ae-quiet-fg);
            }

            .cdx-search-field__input {
                color: var(--ae-fg);

                &::placeholder {
                    color: var(--ae-quiet-fg);
                }
            }
        }

        .ce-popover__nothing-found-message {
            color: var(--ae-quiet-fg);
        }
    }
}
